
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Tajawal:wght@300&display=swap');
:root {
    --primary-color: #151D16;
    --secondary-color: #2B342D;
    --accent1-color: #D6EAD6;
    --accent2-color: #ABBCB2;
    --heading-font: 'Tajawal', sans-serif;
    --paragraph-font: 'Rubik', sans-serif;
    
}
header, main, footer {
    max-width: 960px;
    margin: 0 auto;
    
  }

.signature{
    font-family: 'Rubik', sans-serif;
    color: black;
    
}
body {
    width: 100%;
    margin: 0 auto;
    color: var(--primary-color);
    background:linear-gradient(-45deg,rgb(252, 255, 218), 
    rgb(206, 255, 222),rgb(189, 248, 240));
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}
@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

img {
    max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color:var(--primary-color)
}

header {

    text-align: center;
    color: var(--primary-color)
}

p {
    font-family: var(--paragraph-font);
    color: white;
    padding: 1em;
}

.colorsb{
font:white;
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
    font: white;
}

.colors th {
    background-color: #999
}

.colors td {
    width: 25%;
    height: 3em;
    font: white;
}

.primary {
    background-color: var(--primary-color);
    
}

.secondary {
    background-color: var(--secondary-color)
}

.accent1 {
    background-color: var(--accent1-color)
}

.accent2 {
    background-color: var(--accent2-color)
}

nav {
    background-color:var(--primary-color) ;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em
}

nav>ul {
    list-style-type: none;
    display: flex
}

nav a {
    padding: 1em;
    min-width: 70px
}

nav a:link, nav a:visited {
    color:var(--accent1-color)
}

nav a:hover {
    color:var(--secondary-color) ;
    background-color:var(--accent2-color)
}

.foot{
    
    font-weight: lighter;
    font-size: 15px;
    color: rgb(0, 0, 0);
    padding-top: 50px;
    margin-bottom: 0;
}
.wrapper{
    float: right
}
.bottomli{
    list-style:none;
    margin: 10px 30px;
    display: inline-block;
    font-size: 20px;
    padding: 50px;
    color: rgb(0, 0, 0);
    border: 1px transparent rgb(0, 0, 0);
    border-radius: 50%;
    transition: .5s;

}
.bottomli:hover{
    background-color: rgb(255, 255, 255);
}