@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');

:root {
    --primary-color: #7b61da;
    --secondary-color: #201c30;
    --accent1-color: #ffffff;
    --accent2-color: #f4f5e5;
    --heading-font: 'Scope One', serif;
    --heading-font-color: --secondary-color;

}

html {
    background-color: var(--accent1-color);
}

body {
    max-width: 960px;
    margin: 0px auto;
    padding: 1em;
    font-size: 16px;
    font-family: 'Scope One', serif;
    background-color: var(--accent2-color);
}

header, main, footer
{
    max-width: 960px;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Scope One', serif;
    color: var(--primary-color);
    text-align: center;
}

header {
    text-align: center;
    color: var(--secondary-color);
    background-color: #edf0c3;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-evenly; 
}

header>h1 {
    color: var(--secondary-color);
    font-size: 1.5rem;
}


nav {
    background-color: var(--secondary-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2rem;
    color: var(--accent2-color);

}

nav>ul {
    list-style-type: none;
    display: flex;
    flex: 1 1 auto;
}

nav a {
    padding: 1em;
    min-width: 70px;
}

nav a:link,
nav a:visited {
    color: var(--accent2-color);
}

nav a:hover {
    color: var(--accent2-color);
    background-color: var(--secondary-color);
}

main .hero-image {
    margin-bottom: 40px;
}

img#logo {
    max-width: auto;
    height: 70px;
    padding-right: 10px;
}
main .one,.two {
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto;
}
main .one div, .two div { 
    width: 45%; 
    margin: 20px; 
}


p, .footer {
    font-family: 'Scope One', serif;
    color: #ffffff;
    padding: 1rem;
    margin: 0;
    background-color: var(--secondary-color);
}

h2.search {
    padding-top: 15px;
    text-align: center;
}

div.family p {
    max-width: 100%;
}

p.colored {
    color: var(--secondary-color);
}

p.heading {
    font-family: 'Scope One', serif;
}

p.copyright {
    max-width: 100%;
    text-align: center;
}

h2,h3 {
    color: var(--secondary-color);
}

footer .footer {
    display: flex;
    justify-content: space-evenly;
    padding: 25px 0;
    background-color:var(--secondary-color);
    margin-top: 15px;
}
li { 
    list-style: none; 
}
.social img{
    width: 50px;
    height: auto;
    filter: invert(100%) sepia(3%) saturate(12%) hue-rotate(75deg) brightness(105%) contrast(104%);

}