@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@media screen and (max-width: 550px) {
    .______ {
      display: block;
    }
  }
:root {
    --primary-color: #3f3f3f;
    --secondary-color: #3f3f3f;
    --accent1-color: #ffffff;
    --accent2-color: #c7c7c7;
    --heading-font: 'PT Sans', sans-serif;
    --heading-font-color: --secondary-color;
}


body {
    padding: 0em;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    background-color: white;
}
main
{
    display:grid;
    grid-template-columns: 1fr 400px 400px 1fr;
    grid-template-rows: 400px repeat(5);
    grid-gap: 10px;

}

header, footer
{
    width: 1fr;
    margin: 0 auto;
}

h1 {
    color: white;
    font-size: 1.75rem;
}


h3,h4,h5,h6 {

    color: var(--primary-color);
    text-align: center;
    padding-top: 10px;
    text-decoration: underline;
    font-size: 25px;
}

header{
    text-align: center;
    background-color:var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

header>div{
    display:flex;
}

nav {

    text-align: center;
    font-size: 1.25rem;
}

nav>ul {
    list-style-type: none;
    display: flex;
    flex: 1 1 auto;
}

a {
    padding: 1em;
    min-width: 10px;
    text-decoration: none;
}

nav a:link,
nav a:visited {
    color: var(--accent2-color);
}

nav a:hover {
    color: white;
}


img#logo {
    max-width: 10%;
    max-height: 60px;
    padding: 20px;
    filter: invert(100%) sepia(3%) saturate(12%) hue-rotate(75deg) brightness(105%) contrast(104%);

}
.beth,.beth2{
    object-fit: contain;
    max-width: 300px;
    height: auto;
}

.hero-image{
    width: 100%;
    object-fit: fill;
    object-position: center;
    height: 150px;
    grid-column: 1/5;
    grid-row: 1/2;
}

.banner-box{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 180px 50px;
    grid-column-gap: 100px;
}

h2 {
    font-size: 34px;
    color: rgb(255, 255, 255);
    font-family: 'Rock Salt', cursive;
    font-weight: 700;
    grid-column: 1/2;
    grid-row: 1;
    width: 460px;
    margin-left: 50px;
    padding-top: 10px;
    margin-top: 40px;
    margin-bottom: 4px;
    line-height: 160%;
    border-top: 5px double;
    border-bottom: 5px double;
    text-align: center;
}

button{
    background-color: darkorange;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    width: 200px;
    height: 70px;
    grid-column: 2/3;
    grid-row: 1;
    position: relative;
    right: 70px;
    top: 65px;
}

.banner{
    grid-column: 1/-1;
    grid-row: 1;
    box-shadow: 5px 5px 5px #999;
}

button:hover {
    position:relative;
    display:block;
    background-color: rgb(255, 166, 57);
}

.one
{
    grid-column: 2/3;
    grid-row: 4/5;
}
.beth{
    grid-column: 3/4;
    grid-row: 4/5;
    margin-left: 80px;
    margin-top: 60px;
    box-shadow: 5px 5px 5px #999;
}

.two
{
    grid-column: 3/4;
    grid-row: 5/6;
}
.beth2{
    grid-column: 2/3;
    grid-row: 5/6;
    margin-top: 80px;
    box-shadow: 5px 5px 5px #999;
}

.three
{
   grid-column:2/4;
   grid-row:6/7;
}

.three>p{
    margin-bottom: 30px;

}

p, .contact {
    color: #ffffff;
    padding: 1rem;
    margin: 0;
    background-color: var(--secondary-color);
}


p.heading {
    font-family: 'Scope One', serif;
}

p.copyright {
    max-width: 100%;
    text-align: center;
}

footer {
    display: grid;
    justify-content: center;
    padding: 5px ;
    background-color:var(--secondary-color);
    margin-top: 15px;
}
.social .contact{
    grid-template-columns:1fr 1fr;
}
.contact{
    font-size: 20px;
    padding: 0;
    list-style: none;
   
}
.contact>ul>li>ul{
    text-indent: -10px;
}

.contact ul{
    list-style: none;
    text-indent: 0px;

}

.copyright{
    grid-column:2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.social ul{
    display: flex;
    justify-content: space-evenly;
    filter: invert(100%) sepia(3%) saturate(12%) hue-rotate(75deg) brightness(105%) contrast(104%);
    list-style: none; 

}

.social img{
    width: 67px;
    height: auto;
    margin-top: 20px;
    position: relative;
    right: 30px
}
.social:hover{
    transform: scale3d(1, 1, 1);
}